<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th colspan="2" scope="row">name
        <label>
        <input type="text" name="textfield"required />
        </label></th>
    </tr>
    <tr>
      <th colspan="2" scope="row">age
        <label>
        <input type="text" name="textfield2"required/>
        </label></th>
    </tr>
    <tr>
      <th scope="row">gender</th>
      <td><label>
        male
            <input name="radiobutton" type="radio" value="radiobutton" checked/>
      female
      <input name="radiobutton" type="radio" value="radiobutton"checked />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row">docter
        <label>
        <input type="text" name="textfield3"required pattern="[A-Z a-z]" />
        </label></th>
    </tr>
    <tr>
      <th colspan="2" scope="row">mobile
        <label>
        <input type="text" name="textfield4"required pattern="[6789][0-9]{9}" />
        </label></th>
    </tr>
    <tr>
      <th colspan="2" scope="row">email
        <label>
        <input type="text" name="textfield5"required pattern="[A-Z a-z][0-9{9}" />
        </label></th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td><label>
        <input type="submit" name="Submit" value="register" />
      </label></td>
    </tr>
  </table>
  
</form>
</body>
</html>
